// The boss wanted the font to be bigger, dumbass!
h1 {
    font-size: 3em;
    border-bottom: 2px solid $secondary_color;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul {
    list-style-type: circle;
}